body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
}

.button1 {
  height: 50px;
  width: 200px;
  top: 20%;
  left: 40%;
  border: 1px solid gray;
  border-radius: 30px;
  background-color: gray;
  color: white;
  font-size: 20px;
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.img {
  height: 200px;
  width: 200px;
  top: 40%;
  left: 40%;
  transition: transform 0.5s ease-in-out;
  position: absolute;
}

.button1:focus {
  box-shadow: 1px 1px 1px 1px rgba(122, 121, 121, 0.411);
  background-color: rgba(122, 121, 121, 0.411);
  /* border: 0.1px solid rgba(122, 121, 121, 0.411); */
  border: none;
  outline: none;
}

.button1:focus + .img {
  transform: rotate(45deg) scale(0.5, 0.5);
}
